

@model PlafonesWeb.Models.ProductosModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script>

    function ZoomImage(src, alt) {

        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        modal.style.display = "block";
        modalImg.src = src;
        captionText.innerHTML = alt;

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }

</script>

<div class="container body-content">

    <br />
    <br />
    <br />

    <div class="container-fluid">


        <h2 class="text-center ColorOrange">  Comunicate con Nosotros y pregunta por el precio especial </h2>


        <table class="table  text-centered table-sm">

            @*<thead>
                <tr>
                    <td colspan="2" class="h3 ColorOrange">
                        Comunicate con Nosotros y pregunta por el precio especial
                    </td>
                </tr>
            </thead>*@
 
            <tr class="text-center">

                <td colspan="2" >
                    <img id="myImg" src="@Url.Content(Model.RUTADEFOTO_VAR)"
                         alt="@Url.Content(Model.NOM_PROD_VAR)"
                         onclick="ZoomImage(this.src, this.alt);"
                         class="FormaDeContactoDetallesProductos">

                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                </td>


            </tr>

            <tr>
                <td class="h5 ColorOrange">
                    @Html.DisplayNameFor(model => model.NOM_PROD_VAR):
                </td>
                <td class="h5">
                    @Html.DisplayFor(model => model.NOM_PROD_VAR)
                </td>
            </tr>

            <tr>
                <td class="h5 ColorOrange">
                    @Html.DisplayNameFor(model => model.MARCA_VAR):
                </td>
                <td class="h5">
                    @Html.DisplayFor(model => model.NOM_PROD_VAR)
                </td>
            </tr>

            <tr>
                <td class="h5 ColorOrange">
                    @Html.DisplayNameFor(model => model.COSTO_PROMEDIO_DEC):
                </td>
                <td class="h5">
                    @Html.DisplayFor(model => model.COSTO_PROMEDIO_DEC)    MXN IVA Incluido.
                </td>
            </tr>



            @{

                if (Model.UNIDAD_MEDIDA_VAR != String.Empty && Model.UNIDAD_MEDIDA_VAR != null)
                {

                    <tr>
                        <td class="h5 ColorOrange">
                            @Html.DisplayNameFor(model => model.UNIDAD_MEDIDA_VAR):
                        </td>
                        <td class="h5 text-dark">
                            @Html.DisplayFor(model => model.UNIDAD_MEDIDA_VAR)
                        </td>
                    </tr>

                }



                if (Model.ANCHO_VAR != String.Empty && Model.ANCHO_VAR != null)
                {

                    <tr>
                        <td class="h5 ColorOrange">
                            @Html.DisplayNameFor(model => model.ANCHO_VAR):
                        </td>
                        <td class="h5 text-dark">
                            @Html.DisplayFor(model => model.ANCHO_VAR)
                        </td>
                    </tr>

                }


                if (Model.ALTO_VAR != String.Empty && Model.ALTO_VAR != null)
                {
                    <tr>
                        <td class="h5 ColorOrange">
                            @Html.DisplayNameFor(model => model.ALTO_VAR):
                        </td>
                        <td class="h5 text-dark">
                            @Html.DisplayFor(model => model.ANCHO_VAR)
                        </td>
                    </tr>
                }


                if (Model.ESPESOR_VAR != String.Empty && Model.ESPESOR_VAR != null)
                {
                    <tr>
                        <td class="h5 ColorOrange">
                            @Html.DisplayNameFor(model => model.ESPESOR_VAR):
                        </td>
                        <td class="h5 text-dark">
                            @Html.DisplayFor(model => model.ESPESOR_VAR)
                        </td>
                    </tr>
                }


                if (Model.PESO_DEC > 0)
                {
                    <tr>
                        <td class="h5 ColorOrange">
                            @Html.DisplayNameFor(model => model.PESO_DEC):
                        </td>

                        <td class="h5 text-dark">
                            @Html.DisplayFor(model => model.PESO_DEC) KG.
                        </td>
                    </tr>

                }


            }




            <tr>
                <td class="h5 ColorOrange">
                    @Html.DisplayNameFor(model => model.SUG_USO_VAR):
                </td>

                <td class="h5 text-dark">
                    @Html.DisplayFor(model => model.SUG_USO_VAR)
                </td>
            </tr>




            <tr class="text-right">
                <td colspan="2">
                    @using (Html.BeginForm("DataSheet", "Productos"))
                    {

                        <input name="FichaTecnicaName" type="hidden" value="@Model.FICHA_TECNICA_URL_VAR " />

                        <button class="btn btn-danger btn-sm" style="background-color:#F08034" type="submit">
                            Ficha Técnica
                            @*<img src="~/img/DisenioDeplegadoProds/icono-ficha-tecnica-1.png" width="70px" height="100px" style="background-color:#F08034">*@
                        </button>

                    }
                </td>
            </tr>

    </table>

        <br />


</div>

    </div>








