

@model List<PlafonesWeb.Models.ProductosModels>

@{
    ViewBag.Title = "TABLAROCA, DUROCK Y PLAFONES EN MONTERREY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>


<div class="container body-content">

    @if (@ViewBag.message == "PRODUCTO NO ENCONTRADO")
    {

        <div class="col-sm pr-5">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                <h4> <i class="icon fade fa-check"> </i> No se encontró ningún producto con ese nombre</h4>
            </div>
        </div>

    }

<div class="containerIndex row my-flex-card">

   

        @foreach (var item in Model)
        {

            <div class="col-lg-3 col-md-4 col-sm-6 card-bordes">


                <figure class="card card-product">


                    <div class="card-header ColorOrange" style="height:50px;">
                        <h6>@Html.DisplayFor(modelItem => item.NOM_PROD_VAR)</h6>
                    </div>



                    <div class="card-img-top img-wrap  justify-content-center ">


                        @{
                            var absolutePath = Server.MapPath(item.RUTADEFOTO_VAR.ToString());

                            if (!System.IO.File.Exists(absolutePath))
                            {
                                item.RUTADEFOTO_VAR = "~/img/Productos/sinimagen.jpg";
                            }

                        }


                        <img src="@Url.Content(item.RUTADEFOTO_VAR)">

                    </div>

                    <figcaption class="info-wrap justify-content-center  align-self-center" style="height:175px;">

                        <div class="card-body">


                            @*<div class="row d-flex justify-content-center  align-self-center  mb-5 pb-5">*@


                            @*<div class="col-sm-12">*@


                            <p class="card-text">@Html.DisplayFor(modelItem => item.COSTO_PROMEDIO_DEC): MXN IVA Incluido</p>


                            @using (Html.BeginForm("DataSheet", "Productos"))
                            {

                                <div class="row justify-content-center ">

                                    <div class="col-sm-12 col-lg-12">
                                        <a href="~/Productos/Details?id=@item.CVE_PROD_VAR" class="btn btn-primary btn-sm" style="background-color:#F08034"> Detalles </a>
                                    </div>

                                    <div class="mt-1  col-sm-12  col-lg-12">
                                        <input name="FichaTecnicaName" type="hidden" value="@item.FICHA_TECNICA_URL_VAR" />
                                        <button class="btn btn-danger btn-sm" type="submit">
                                            Ficha Técnica
                                            @*<img src="~/img/DisenioDeplegadoProds/icono-ficha-tecnica-1.png"  width="50" height="30">*@
                                        </button>
                                    </div>


                                </div>


                            }

                    

                            <!-- action-wrap -->
                        </div>
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
                                }


          

</div>

</div>

<br />
<br />