<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Generales.js"></script>
    <script src="~/Content/bootstrap.css"></script>


    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

        function ShowSearch() {

            $("#ShowSearch").hide();
            $("#HideSearch").show();
            $("#busqueda").fadeIn();

        }

        function HideSearch() {

            $("#HideSearch").hide();
            $("#ShowSearch").show();
            $("#busqueda").fadeOut();

        }

    </script>


</head>



<body>


    <nav class="sticky-top navbar-fixed-top">

        <div class="navbar navbar-expand-lg navbar-expand-xl mb-5 sticky-top" style="background-color:#172C80">


            <button class="navbar-toggler navbar-toggler-icon mr-auto mb-5" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>

            </button>


            <div class="text-center ml-auto">
                <a href="@Url.Action("Index", "Home")" style="text-decoration:none"> </a>

                <input type="image"
                       class="mr-1"
                       src="~/img/Logo-plafones-con-eslogan2-1-unsmushed.png" height="50" width="150"
                       value="Go Somewhere Else"
                       onclick="location.href='@Url.Action("Index", "Home")'" />

            </div>



            <div class="collapse navbar-collapse ml-auto" id="navbarTogglerDemo01">
                <ul class="nav navbar-nav text-center">

                    <li class="formatoItemsMenu nav-item nav-link ">@Html.ActionLink("Inicio", "Index", "Home")</li>

                    <li class="nav-item nav-link dropdown  hover ">
                        <a href="#" class="dropdown-toggle formatoItemsMenu" data-toggle="dropdown">Productos</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos">Todos</a></li>
                            <li class="nav-item nav-link dropdown-submenu">
                                <a class="test formatoItemsMenu" href="~/Productos?Clase=TABLEROS">Tableros</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=TABLEROS">Todos</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=TABLEROS&SubClase=INTERIORES">Para Interiores</a></liclass="nav-item>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=TABLEROS&SubClase=EXTERIORES">Para Exteriores</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=TABLEROS&SubClase=ESTRUCTURAL">Estrucuturales</a></li>
                                </ul>
                            </li>

                            <li class="nav-item nav-link dropdown-submenu">
                                <a class="test formatoItemsMenu" href="~/Productos?Clase=PERFIL">Perfiles Metálicos</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item nav-link "><a class="formatoItemsMenu" href="~/Productos?Clase=PERFIL">Todos</a></li>
                                    <li class="nav-item nav-link "><a class="formatoItemsMenu" href="~/Productos?Clase=PERFIL&SubClase=LIGERO">Liegeros</a></li>
                                    <li class="nav-item nav-link "><a class="formatoItemsMenu" href="~/Productos?Clase=PERFIL&SubClase=ESTRUCTURAL">Estructurales</a></li>
                                </ul>
                            </li>

                            <li class="nav-item nav-link dropdown-submenu">
                                <a class="test formatoItemsMenu" href="~/Productos?Clase=PLAFONES">Plafones</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=PLAFONES">Todos</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=PLAFONES&SubClase=61X61">61x61"</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=PLAFONES&SubClase=61X122">61x1.22"</a></li>
                                </ul>
                            </li>

                            <li class="nav-item nav-link dropdown-submenu">
                                <a class="test formatoItemsMenu" href="~/Productos?Clase=SUSPENSIONES">Suspensiones</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=SUSPENSIONES">Todas</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=SUSPENSIONES&SubClase=15_16">15/16'</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=SUSPENSIONES&SubClase=9_16">9/16'</a></li>
                                </ul>
                            </li>

                            <li class="nav-item nav-link dropdown-submenu">
                                <a class="test formatoItemsMenu" href="~/Productos?Clase=COMPLEMENTOS">Complementos</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=COMPLEMENTOS">Todos</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=COMPLEMENTOS&SubClase=CINTAS_MALLAS">Cintas y Mallas</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=COMPLEMENTOS&SubClase=ACCESORIOS">Accesorios</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=COMPLEMENTOS&SubClase=TORNILLOS">Tornillos</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=COMPLEMENTOS&SubClase=AISLAMIENTOS">Aislamientos</a></li>
                                    <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=COMPLEMENTOS&SubClase=TAQUETES">Taquetes</a></li>
                                </ul>
                            </li>

                            <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=RECUBRIMIENTOS">Recubrimientos</a></li>
                            <li class="nav-item nav-link"><a class="formatoItemsMenu" href="~/Productos?Clase=HERRAMIENTAS">Herramientas</a></li>


                        </ul>


                    </li>

                    <li class="nav-item nav-link formatoItemsMenu">@Html.ActionLink("Sucursales", "Index", "Sucursales")</li>

                    <li class="nav-item nav-link formatoItemsMenu">@Html.ActionLink("Contacto", "Contact", "Home")</li>



                </ul>


            </div>
            <span id="ShowSearch" onclick="ShowSearch();" class="ajas mt-2 mr-5"><i class="fa fa-2x fa-search" aria-hidden="true"></i></span>
            <span id="HideSearch" style="display:none;" onclick="HideSearch();" class="ajas mt-2 mr-5"><i class="fa fa-2x fa-times" aria-hidden="true"></i></span>
        </div>
    </nav>
   <div class="row mb-5">
        <form style="display:none;" id="busqueda" class="input-group justify-content-center" action="/Productos/GetProducts" method="post">
            <input class="form-control col-lg-6 col-md-6" name="Search" required type="search" placeholder="Buscar Producto" aria-label="Search">
            <button class="rounded input-group-addon text-white" type="submit" style="background-color:#F08034">Buscar</button>
        </form>
    </div>
    <div class="body-content">
        @RenderBody()
        <script>
            $(document).ready(function () {
                $('.dropdown-submenu a.test').on("click", function (e) {
                    $(this).next('ul').toggle();
                    e.stopPropagation();
                    e.preventDefault();
                });
            });



        </script>


        <br />
        <br />
        <br />

        <footer class="footer text-white">
            <p text-color="white">&copy; @DateTime.Now.Year - Plafones e Interiores | Todos los Derechos Reservados | All Rights Reserved | @Html.ActionLink("Aviso de privacidad", "NoticeOfPrivace", "Home") </p>
        </footer>
    </div>
</body>
</html>
